NEXT_PUBLIC_SUPABASE_URL=https://xesdrhqkoaieataywrlj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhlc2RyaHFrb2FpZWF0YXl3cmxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczNzUwNjcsImV4cCI6MjEwMjk1MTA2N30.8Fmua8VTKlyUDfcQrzarZel09FZtKfQSwxwYiI4k-cM
